@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors  */
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    /* typography  */
    --primary-font: "Kumbh Sans", Arial, Helvetica, sans-serif;
    --font-wt-reg: 400;
    --font-wt-bold: 700;
}

/* general  */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 18px;    
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top -652px left -326px, bottom -652px right -326px;
    background-color: var(--dark-cyan);
}

h1 {
    font-weight: var(--font-wt-bold);
    font-size: 1.1rem;
    color: var(--dark-desaturated-blue);
}

p {
    line-height: 1.4;
    font-weight: var(--font-wt-reg);
    font-size: 0.9rem;
    color: var(--dark-grayish-blue);
}

.light-text {
    color: var(--dark-grayish-blue);
}

.dark-bold-text {
    font-weight: var(--font-wt-bold);
    color: var(--dark-desaturated-blue);
}

.large-text {
    font-size: 1.1rem;
}

.small-text {
    font-size: 0.7em;
}

/* component  */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 3em;
    text-align: center;
    background-image: url("./images/bg-pattern-card.svg");
    border-radius: 1em;
}

.profile-img {
    display: block;
    border: 5px solid white;
    border-radius: 100%;
    grid-column: 1 / 4;
    grid-row: 1;
    justify-self: center;
    transform: translate(0, 48px);
}

section {
    padding: 1.5em;
    background-color: white;    
}

.bio {
    grid-column: 1 / 4;
    grid-row: 2;
    padding-top: 4em;
    border-bottom: 1px solid var(--dark-gray);
}

.bio p {
    line-height: 1.8;    
}

.bio div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.followers {
    grid-column: 1;
    grid-row: 3;
    border-bottom-left-radius: 1em ;
}

.likes {
    grid-column: 2;
    grid-row: 3;
}

.photos {
    grid-column: 3;
    grid-row: 3;
    border-bottom-right-radius: 1em;
}

/* footer  */
footer {
    margin-top: 2em;
    font-size: 0.7rem; 
    text-align: center;
    color: var(--dark-desaturated-blue); 
}

footer a { 
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width:800px) {
    section {
        padding-inline: 2em;
    }

    body {
        background-position: top -552px left -226px, bottom -552px right -226px;
    }
}
