@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors  */
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    /* typography  */
    --primary-font: "Kumbh Sans", Arial, Helvetica, sans-serif;
    --font-wt-reg: 400;
    --font-wt-bold: 700;
}

/* general  */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-size: 1.125rem;    
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top -30em left -35em, bottom -30em right -35em;
    background-color: var(--dark-cyan);
}

h2 {
    font-weight: var(--font-wt-bold);
    font-size: 1.1rem;
    color: var(--dark-desaturated-blue);
}

p {
    line-height: 1.4;
    font-weight: var(--font-wt-reg);
    font-size: 0.9rem;
    color: var(--dark-grayish-blue);
}

.screenreader-only {
    width: 0;
    height: 0;
    overflow: hidden;
}

.light-text {
    color: var(--dark-grayish-blue);
}

.dark-bold-text {
    font-weight: var(--font-wt-bold);
    color: var(--dark-desaturated-blue);
}

.large-text {
    font-size: 1.1rem;
}

.small-text {
    font-size: 0.7em;
}

/* component  */
main {
    padding-top: 3em;
    text-align: center;
    background-image: url("./images/bg-pattern-card.svg");
    border-radius: 1em;
}

.profile-img {
    display: block;
    border: 5px solid white;
    border-radius: 100%;
    margin: 0 auto;
    transform: translate(0, 48px);
}

.white-bg {
    background-color: white;    
}

.bottom-curved {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.bio {
    padding: 1.5em;
    padding-top: 4em;
    border-bottom: 1px solid var(--dark-gray);
}

.bio p {
    line-height: 1.8;    
}

.bio div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.stats {
    padding: 1.8em;
}

/* footer  */
footer {
    margin-top: 2em;
    font-size: 0.7rem; 
    text-align: center;
    color: var(--dark-desaturated-blue); 
}

footer a { 
    color: white;
}

@media screen and (min-width:800px) {
    section {
        padding-inline: 2em;
    }

    body {
        background-position: top -30em left -15em, bottom -30em right -15em;
    }
}
